# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# LaTeX
blueprints/*.aux
blueprints/*.fdb_latexmk
blueprints/*.fls
blueprints/*.lof
blueprints/*.lot
blueprints/*.out
blueprints/*.pdf
blueprints/*.gz
blueprints/*.toc

# Config
.vscode

# Libs
src/pkg

# Rust
pkg
target
Cargo.lock
